<hr>
<div>
    <h3>All configurations</h3>
    <table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Packages</th>
        <th>Average</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>

    {{#each model as |binsize|}}
        <tr class="{{if binsize.const 'warning'}}">
            <td>{{binsize.id}}</td>
            <td>{{if binsize.const "Constant" "Variable"}}</td>
            <td>
            {{#each binsize.packages as |package|}}
                <div class="p-item"><b>{{package.val}}{{package.unit}}</b> - {{package.percent}}%</div>
            {{/each}}
            </td>
            <td>{{format-size binsize.avg}}</td>
            <td>{{#link-to 'binsize' binsize class="btn btn-default btn-xs"}} Edit {{/link-to}}</td>
            <td><a href="" class="btn btn-default btn-xs" {{action "deleteBinsize" binsize}}> Delete </a></td>
        </tr>
    {{/each}}
    </tbody>
    </table>
</div>
<hr>
<div>{{#link-to 'create' class="btn btn-primary"}}Add bin{{/link-to}}</div>
