<hr>
<div>
    <h3>All configurations</h3>
    <table class="table">
    <tbody>

    {{#each model as |binsize|}}
        <tr>
            <td>{{binsize.id}} - {{binsize.const}}</td>
            <td>
            {{#each binsize.packages as |package|}}
                {{package.val}}{{package.unit}} - {{package.percent}}%
            {{/each}}
            </td>
            <td>{{format-size binsize.avg}}</td>
            <td>{{#link-to 'binsize' binsize class="btn btn-default btn-xs"}} Edit {{/link-to}}</td>
            <td><a href="" class="btn btn-default btn-xs" {{action "deleteBinsize" binsize}}> Delete </a></td>
        </tr>
    {{/each}}
    </tbody>
    </table>
</div>
<hr>
<div>{{#link-to 'create' class="btn btn-primary"}}Add bin{{/link-to}}</div>
