<hr>
<div>
    <p>тут таблица с конфигурациями</p>
    {{#each model as |binsize|}}
        <p>{{binsize.id}} - {{binsize.const}}</p>
        <div>
        {{#each binsize.packages as |package|}}
            {{package.val}}{{package.unit}} - {{package.percent}}%
        {{/each}}
        </div>
        <div>{{#link-to 'binsize' binsize}}Edit{{/link-to}}</div>
        <div><a href="" {{action "deleteBinsize" binsize}}>Delete</a></div>


    {{/each}}
</div>
<hr>
<div>{{#link-to 'create'}}Add bin{{/link-to}}</div>
