<div class="row">

    <div class="col-md-6">
        <label> Use </label>
        <select class="form-control input-sm select" name="binsize_const" {{action "changeType" on="change"}}>
            <option value="0">bin distribution of block sizes, with custom bins</option>
            <option value="1">constant block sizes</option>
        </select>
    {{#if model.const}}
        <label> of </label>
        <select class="form-control input-sm package-params" name="package_params" {{action "changePackage" on="change"}}>
            <option selected value="512 B"> 512 Bytes </option>
            <option value="1 KB" > 1 KB      </option>
            <option value="2 KB" > 2 KB      </option>
            <option value="4 KB" > 4 KB      </option>
            <option value="8 KB" > 8 KB      </option>
            <option value="16 KB"> 16 KB     </option>
        </select>
    {{/if}}
    </div>
</div>
<hr>
{{#unless model.const}}
<div class="row">
    <div class="col-md-8">
        <div class="row">
            {{#each model.packages as |package|}}

                {{bin-block package=package store=store}}

            {{/each}}
        </div>
    </div>
    <div class="col-md-4">
        <div>
            <p class="allocated">Allocated : <span></span>%</p>
            <p class="available">Available : <span></span>%</p>
            <p class="average">Average : <span>{{format-size model.avg}}</span></p>
        </div>

        <hr>
        <label>Size</label>
        <input class="form-control input-sm size-input" name="new_package_val">
        <select class="form-control input-sm" name="new_package_unit">
            <option>B</option>
            <option>KB</option>
            <option>MB</option>
        </select>
        <button class="btn btn-primary btn-sm" {{action "addBin"}}><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Bin</button>
    </div>
</div>
<hr>
{{/unless}}
<button class="btn btn-primary" {{action "saveConfiguration" model}} > <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Configuration</button>
<span class="saved badge">Saved</span>

